@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to top,rgb(85, 174, 252), purple );
    }

    .login{
        width: 90vw;
    }

    .imagem img{
        float: left;
        width: 30%;
        height: 500px;
    }

    .formulario{
        float: right;
        width: 70%;
    }
    .submeter{
        position: absolute;
        display: flex;
        left: 42%;
        transform: translate(-45%);
    }
}

    @media screen and (min-width:992px) {

        body{
            background-image: linear-gradient(to top, purple, rgb(85, 174, 252) );
        } 

        .login{
            width: 990px;
        }
        .imagem img{
            float: left;
            width: 50%;
            height: 500px;
            background-position: right top;
        }
        .formulario{
            float: right;
            width: 50%;
        }
        .submeter{
            position: absolute;
            left: 58%;
           
        }
         
    }
