@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: rgb(85, 174, 252);
}

.formulario h1{
    text-align: center;
    margin: 10px;
}

.formulario p{
    padding: 10px;
    text-align: center;
}

.login{
    display: block;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*corta tudo que estiver pra fora da section*/
    box-shadow: 0 0 10px ;
    transition: width 0.5s, heigth 1s; /*quando aumenta e diminui a telademora 1 segundo*/
    transition-timing-function: ease; /*suavisa o transition*/
}

.imagem img{
    width: 250px;
    height: 120px;
    display: block;
    object-fit: cover;
    object-position: 70% center; 
}

.formulario{
    padding: 10px;
}

.campo{
    padding: 5px 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.836);
    margin-top: 1px;
}

span{
    color: aliceblue;
    margin-left: 10px;
}

#isenha, #ilogin{
    transform: translatey(-7px);
    width: 80%;
}

.submeter{
    width: 65%;
    margin-top: 10px;
    margin-left: 18%;
}

.submeter:hover{
    background-color: rgba(128, 128, 128, 0.336);
    cursor:pointer;
}

.esquecisenha{
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
}